# Django
SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Database
# MySQL (default)
DB_ENGINE=django.db.backends.mysql
DB_NAME=face_attendance
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306

# Quick local dev (SQLite)
# DB_ENGINE=sqlite
# DB_NAME=db.sqlite3
